backend/discord/creds.py
backend/__pycache__
backend/env
backend/static
backend/summarizer/__pycache__
backedn/twitter/__pycache__
backend/.env
backend/credentials.json
backend/discord_access.json
backend/facebook_token.json
backend/linkedin_token.json
backend/token.json
backend/twitter_access.json
backend/youtube_creds.json
backend/youtube-oauth2.json
backend/sample_5C_HPTJg5ek.wav
backend/sample_bfmFfD2RIcg.wav
backend/sample_NrO0CJCbYLA.wav
backend/faiss_indexuploads
backend/faiss_indexfaiss_indexlesson.pdf
backend/faiss_indexfaiss_index_Verbiqube (2).pdf
backend/faiss_indexfaiss_index_lesson.pdf
backend/saiss_index
backend/faiss_index
backend/sample.wav
client/client/node_modules

